AZURE_AI_ENDPOINT=
AZURE_AI_KEY=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT_NAME=
AZURE_OPENAI_API_VERSION=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
BACKEND_API_URL=http://localhost:8000
